@import "tailwindcss";

@font-face {
  font-family: 'nim';
  src: url('./fonts/NimbusSanL-Bol.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Bnim';
  src: url('./fonts/NimbusSanL-Bol.otf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}